.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 806px}
.u-section-1 .u-layout-wrap-1 {width: 916px; margin: 60px auto}
.u-section-1 .u-layout-cell-1 {min-height: 666px}
.u-section-1 .u-container-layout-1 {padding: 30px 0}
.u-section-1 .u-image-1 {width: 1207px; height: 737px; margin: -109px auto 0 -400px}
.u-section-1 .u-layout-cell-2 {min-height: 666px}
.u-section-1 .u-container-layout-2 {padding: 30px 0 30px 20px}
.u-section-1 .u-text-1 {letter-spacing: 1px; font-size: 3.75rem; font-family: Cabin; font-weight: 700; margin: 154px 0 0}
.u-section-1 .u-text-2 {margin: 20px auto 0 1px}
.u-section-1 .u-text-3 {font-size: 1.125rem; font-style: italic; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 633px}
.u-section-1 .u-layout-wrap-1 {width: 860px; margin-right: 0}
.u-section-1 .u-image-1 {width: 540px; height: 431px; margin-top: -338px; margin-left: -91px; margin-right: -91px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 521px}
.u-section-1 .u-layout-wrap-1 {width: 683px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {height: 271px; width: 356px; margin-right: auto; margin-left: -45px}
.u-section-1 .u-layout-cell-2 {min-height: 381px}
.u-section-1 .u-text-1 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 441px}
.u-section-1 .u-layout-wrap-1 {width: 330px; margin-right: auto}
.u-section-1 .u-image-1 {width: 448px; height: 302px; margin-top: -11px; margin-left: -70px; margin-right: -70px}
.u-section-1 .u-layout-cell-2 {min-height: 372px}
.u-section-1 .u-container-layout-2 {padding-left: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 328px}
.u-section-1 .u-layout-wrap-1 {width: 274px}
.u-section-1 .u-image-1 {width: 392px; height: 282px}
.u-section-1 .u-layout-cell-2 {min-height: 353px} }